
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.content-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:  100px;
    align-items: center;
}

.main-container {
    height: 100%;
    border: 2px black solid;
    width: 100%;
}

.tasks-tables{
    display: flex;
}

.tasks-container{
    width: 400px;
    min-height: 500px;
    border: 2px black solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 300px;
    overflow: scroll;
}


.tasks-container .tasks-box{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.tasks-container .tasks-box .title{
    font-weight: bold;
}

.create-task-container{
    margin-left: 20px;
}

.send-notification-container{
    margin-top: 50px;
    margin-left: 20px;
}

.send-notification-container input{
    width: 500px;
}

.create-task-container input{
    width: 500px;
}


.show-notification-container{
    border: 2px solid black;
    padding : 20px;
    margin-top: 20px;
}

.show-notification-container h2{
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline
}

.show-notification-container li{
    margin-bottom: 5px;
}